.main {
    background-color: darkcyan;
}

.container {
    margin-top: 50px;
}

#table td {
    
    border: 1px solid black;
}

#table {
    border-collapse: collapse;
    width: 440px;
}

#car-form {
    padding: 10px;
    border: 1px solid black;
    width: 240px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 165, 167);
}

#car-form input{
    width: 120px;
    display: flex;
    flex-direction: column;
}

.card {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 18rem;
}



.btn{
    margin-top: 15px;
}