* {
    margin: 0;
    padding: 0;
}

:root{
    --main-padding: 15%;
    --min-padding: 50px;
    --main-color: rgb(108, 231, 211);
}

header {
    padding: 40px var(--main-padding);
    color: white;
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 40px var(--main-padding) 0 var(--main-padding);
    padding-right: 13%;
}

#filter-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#property-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#property-wrapper > div {
    width: 200px;
    height: 300px; 
    border: 1px solid rgb(207, 207, 207);
}

.image-wrapper > img{
    max-width: 100%;
}

.image-wrapper {
    display: flex;
    align-items: center;
}

.description-wrapper {
    height: 55%;
    padding: 20px 10px;
}
.description-wrapper > p:last-child {
    margin-top: 20px;
}

.description {
    margin-top: 20px;
}

#filter-wrapper > button{
    background-color: var(--main-color);
    border-style: solid;
    
}

.inactive-button {
    background-color: white;
    border-color: grey;
    border-style: solid;
}

#filter-controls > button,
#filter-wrapper > button {
    border-color: var(--main-color);
    border-radius: 4px;
    padding: 8px;
}

#filter-controls > button:hover,
#filter-wrapper > button:hover {
    cursor: pointer
}

.active-button {
    background-color: white;
    border-color: var(--main-color);
    color: var(--main-color);
}

#input-wrapper {
	display: flex;
	flex-direction: column;
}

#input-wrapper > textarea {
	max-width: 100%;
	max-height: 200px;
}

#input-wrapper > select {
	width: 100px;}

#input-wrapper > button {
    background-color: var(--main-color);
	border-color: white;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
	border-radius: 4px;
	width: 100px;
}